html,body {
  width: 100%;
  height: 100%;
}
body {
  color: #333;
  font-size: 11pt;
}
.content {
  padding: 0 0 25px;
}
.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 42pt;
  padding: 30px 0;
}
#pixels {
  position: relative;
  width: 100%;
  height: 116px;
}
#pixels div {
  position: absolute;
  width: 7px;
  height: 7px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.grid {
  font-family: 'Patrick Hand', cursive;
  width: 325px;
  margin: 0 auto;
}
.item {
  width: 25px;
  display: inline-block;
  vertical-align: top;
  margin-right: -1px;
}
.item a, .item span {
  width: 25px;
  height: 25px;
  display: block;
  text-decoration: none;
  border:1px solid #d8d8d8;
  margin-bottom: -1px;
  text-align: center;
  line-height: 25px;
}
.item span {
  border: 0;
}
.item .days span.day {
  font-size: 0;
}
.item .days span.day:nth-child(5n + 5) {
  font-size: 11pt;
}
.item .days span.day:first-child {
  font-size: 11pt;
}

.interface {
  width: 100%;
}

.item a.active {
  outline: 2px solid #4a4a4a;
  outline-offset: -3px;
}

.interface h2 {
  font-family: 'Coming Soon', cursive;
  text-align: center;
  font-size: 18pt;
  padding: 25px 0 15px;
  line-height: 1.3;
}

.interface form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.interface form div {
  display: inline-block;
  margin: 7px;
}

.interface form div label {
  height: 100%;
  display: block;
  cursor: pointer;
}

#message {
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

form input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
    
form input[type=radio] ~ label:before {
  font-family: 'IcoFont';
  display: inline-block;
  font-size: 32pt;
  color: #868686;
}

.mood-5 ~ label:before {
  content: "\ebb7";
}
.mood-4 ~ label:before {
  content: "\ebbe";
}
.mood-3 ~ label:before {
  content: "\ebb5";
}
.mood-2 ~ label:before {
  content: "\ebbc";
}
.mood-1 ~ label:before {
  content: "\ebc2";
}
.mood-0 ~ label:before {
  content: "\efb1";
  font-size: 34pt !important;
}

.mood-5:checked ~ label:before,
.mood-5:hover ~ label:before {
  color: #e74c3c;
}
.mood-4:checked ~ label:before,
.mood-4:hover ~ label:before {
  color: #e67e22;
}
.mood-3:checked ~ label:before,
.mood-3:hover ~ label:before {
  color: #f1c40f;
}
.mood-2:checked ~ label:before,
.mood-2:hover ~ label:before {
  color: #1abc9c;
}
.mood-1:checked ~ label:before,
.mood-1:hover ~ label:before {
  color: #3498db;
}
.mood-0:checked ~ label:before,
.mood-0:hover ~ label:before {
  color: #444444;
}

.mood-5, [data-mood="5"] {
  background-color: #e74c3c;
}
.mood-4, [data-mood="4"] {
  background-color: #e67e22;
}
.mood-3, [data-mood="3"] {
  background-color: #f1c40f;
}
.mood-2, [data-mood="2"] {
  background-color: #1abc9c;
}
.mood-1, [data-mood="1"] {
  background-color: #3498db;
}
.mood-0, [data-mood="0"] {
  background-color: #FFFFFF;
}

#quoteOfTheDay {
  font-family: 'Sacramento', curvise;
  font-size: 28pt;
  text-align: center;
  border-top: 2px dashed #a2a2a2;
  margin: 30px 0;
  padding: 30px 0 0;
}

#quoteOfTheDay p.author {
  font-size: 18pt;
  padding: 15px 0;
}

#chart {
  text-align: center;
  border-top: 2px dashed #a2a2a2;
  margin: 30px 0;
  padding: 30px 0 0;
}
#footer {
  margin: 30px 0;
  padding: 15px 0 0;
  border-top: 2px dashed #a2a2a2;
}

#footer ul {
  text-align: center;
}
#footer ul li {
  display: inline-block;
  margin: 0 7px;
}
#footer ul.social {
  padding: 15px 0 0;
}
#footer ul.social li {
  margin: 0 7px;
}
#footer ul li a {
  text-decoration: none;
  color: #a2a2a2;
  border-bottom: 1px dotted #a2a2a2;
}

.dialog {
  font-family: 'Coming soon', cursive;
  width: 300px;
  position: fixed;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border: 1px solid #a2a2a2;
  padding: 15px;
  outline: 9999px solid rgba(0,0,0,0.5);
  display: none;
}
.dialog .close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: inherit;
}
.dialog h3 {
  font-size: 16pt;
  padding: 0 0 15px;
}
.dialog p {
  padding: 0 0 15px;
}
.dialog textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #a2a2a2;
  outline: none;
}
.dialog button {
  background-color: #FFF;
  color: #000;
  border: 1px solid #a2a2a2;
  padding: 5px 15px;
  cursor: pointer;
}
#aboutDialog p {
  line-height: 1.2;
}

/* Basic responsive, this was not intended for phone */
@media screen and (max-width: 640px){
  .column {
     width: 100%;
  }
  .header {
    position: relative;
    z-index: 2;
  }
  #pixels {
    top: -100px;
    z-index:1;
  }
  .mood-form {
    top: 100px;
    position: absolute;
    width: 100%;
  }
  .grid {
    margin-top: 75px;
  }
  .dialog {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    margin: 0;
    z-index: 3;
  }
  .close {
    font-size: 18pt;
  }
}